.main-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.main-header__logo {
  display: flex;
  max-width: 370px;
  margin-right: 80px;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  transition: all 0.2s ease-out;
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    span {
      color: #004780;
    }
  }
  img {
    display: inline-block;
    max-width: 100%;
    margin-right: 15px;
  }
  span {
    display: inline-block;
    color: #802a43;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
    transition: all 0.2s ease-out;
  }
}

.main-header__contacts {
  max-width: 205px;
  color: #3d3d3d;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  a {
    color: #3d3d3d;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }
  }
}

.main-header__info {
  max-width: 220px;
  span {
    display: block;
    margin-bottom: 5px;
    color: #802a43;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
  }
  p {
    margin: 0;
    color: rgba(1, 55, 69, 0.67);
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
  }
}

.main-header__call {
  transition: all 0.2s ease-out;
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    a {
      text-decoration: none;
    }
    span {
      text-decoration: none;
    }
    .main-header-call__btn {
      text-decoration: none;
    }
  }
  span {
    display: block;
    margin-bottom: 15px;
    color: #3d3d3d;
    font-family: "Open Sans";
    font-size: 19px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
  }
  .main-header-call__btn {
    display: block;
    width: 100%;
    padding: 12px 16px;
    background-color: #802a43;
    border-radius: 3px;
    color: white;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      background-color: #972949;
    }
  }
}

.main-content {
  padding-top: 60px;
  padding-bottom: 60px;
}

.main-sidebar {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    a {
      display: flex;
      align-items: center;
      padding: 5px;
      background-color: white;
      border-left: 2px solid white;
      border-bottom: 1px solid #e9fbff;
      color: #1f497d;
      font-family: "Open Sans";
      font-size: 13px;
      font-weight: 400;
      line-height: 1;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        border-left: 2px solid #1f497d;
        text-decoration: none;
      }
      img {
        display: inline-block;
        width: 34px !important;
        height: 26px !important;
        margin-right: 20px;
        object-fit: contain !important;
      }
      span {
        display: inline-block;
        max-width: 215px;
        color: #1f497d;
        font-family: "Open Sans";
        font-size: 13px;
        font-weight: 400;
        line-height: 1.2;
        transition: all 0.2s ease-out;
      }
    }
  }
}

.main-content_p {
  padding-left: 20px;
}

.home-start {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-bottom: 20px;
}

.home-start__card {
  display: inline-flex;
  flex-flow: column wrap;
  max-width: 190px;
  margin-bottom: 20px;
  img {
    display: block;
    margin-bottom: 20px;
    width: 61px;
    height: 63px;
    object-fit: contain;
  }
  span {
    display: block;
    margin-bottom: 10px;
    color: #3d3d3d;
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 700;
    line-height: 1.5;
    text-transform: uppercase;
  }
  p {
    margin: 0;
    color: #5d5d5d;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 300;
    line-height: 16px;
  }
}

.main-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  span {
    display: inline-block;
    margin-right: 30px;
    color: #040404;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 400;
    line-height: 1;
  }
}

.main-title__stripe {
  display: inline-block;
  flex: 1;
  height: 1px;
  opacity: 0.34;
  background-color: #9c3636;
}

.home-features {
  margin-bottom: 60px;
  p {
    margin-bottom: 25px;
    color: #3d3d3d;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
  }
}

.home-features-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  max-width: 700px;
}

.home-features__card {
  display: inline-flex;
  align-items: center;
  width: 300px;
  margin-bottom: 20px;
  img {
    display: inline-block;
    width: 38px;
    height: 38px;
    margin-right: 12px;
    object-fit: contain;
  }
  span {
    display: inline-block;
    color: #3d3d3d;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 300;
    line-height: 1.5;
  }
}

.home-why {
  margin-bottom: 60px;
  color: #3d3d3d;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  ul {
    margin: 0;
    padding: 0;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 5px;
  }
}

.home-popular-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 60px;
}

.home-popular__card {
  display: inline-flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  max-width: 270px;
  margin-bottom: 20px;
  padding: 22px 36px;
  background-color: #fefefe;
  border: 1px solid #e4e3e3;
  border-radius: 3px;
  transition: all 0.15s ease-out;
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
  img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 15px;
    width: 90px;
    height: 90px;
    object-fit: contain;
  }
  a {
    display: block;
    height: 72px;
    margin-bottom: 15px;
    color: #802a43;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-decoration: underline;
    &:hover {
      overflow: hidden;
      text-decoration: none;
    }
  }
  .home-popular-card__btn {
    display: block;
    width: 100%;
    position: relative;
    height: auto;
    background-color: #802a43;
    border-radius: 3px;
    padding: 14px 34px;
    text-align: center;
    color: white;
    font-family: "Open Sans";
    font-size: 14px;
    text-decoration: none;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    transition: all 0.15s ease-out;
    &:hover {
      background-color: #972949;
    }
  }
}

.home-popular-card__price {
  width: 100%;
  margin-bottom: 20px;
  color: #3d3d3d;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  text-align: left;
  span {
    display: inline-block;
    color: #3d3d3d;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 700;
    line-height: 18px;
  }
}

.home-seo {
  color: #3d3d3d;
  font-family: "Open Sans";
  line-height: 1.5;
  font-size: 14px;
  font-weight: 400;
  &__title {
    display: block;
    margin-bottom: 30px;
    color: black;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 400;
    line-height: 1;
  }
  &__info {
    margin-bottom: 20px;
    padding: 25px;
    background-color: #ededed;
    border-radius: 0 3px 3px 0;
    border-left: 9px solid #802a43;
    color: #3d3d3d;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
  }
  &__about {
    margin-bottom: 20px;
    padding: 25px;
    border: 1px solid #cfcfcf;
    border-radius: 3px;
    color: #3d3d3d;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: italic;
    line-height: 1.5;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #3d3d3d;
    font-family: "Open Sans";
    font-weight: 700;
  }
  h2 {
    font-size: 16px;
  }
  h3 {
    font-size: 14px;
  }
  p {
    margin-bottom: 20px;
  }
}

.main-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #1f497d;
  &__nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    list-style: none;
    li {
      a {
        display: inline-block;
        padding: 0 25px;
        color: white;
        font-family: "Open Sans";
        font-size: 12px;
        font-weight: 700;
        line-height: 24px;
        text-transform: uppercase;
        transition: all 0.15s ease-out;
        &:hover,
        &:active,
        &:focus {
          text-decoration: none;
          color: rgba(255, 255, 255, 0.38);
        }
      }
    }
  }
  &__creators {
    color: rgba(255, 255, 255, 0.38);
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    a {
      color: rgba(255, 255, 255, 0.38);
      font-family: "Open Sans";
      font-size: 12px;
      font-weight: 700;
      line-height: 24px;
      text-decoration: underline;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        color: white;
        text-decoration: none;
      }
    }
  }
}

.main-breadcrump {
  margin-bottom: 25px;
  color: #1f497d;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  a {
    color: #1f497d;
    text-decoration: underline;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      color: #972949;
      text-decoration: none;
    }
  }
  span {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
  }
}

.categories-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 60px;
}

.categories__card {
  display: inline-block;
  width: 265px;
  height: 95px;
  margin-bottom: 20px;
  transition: all 0.15s ease-out;
  border-radius: 3px;
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    span {
      background-color: rgba(0, 0, 0, 0.7);
    }
  }
  span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border-radius: 3px;
    transition: all 0.15s ease-out;
  }
}

.main-pagination {
  width: 100%;
  text-align: right;
  margin-bottom: 10px;
  a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 32px;
    height: 32px;
    padding: 5px;
    background-color: white;
    border: 1px solid #c4c4c4;
    border-radius: 3px;
    color: #747474;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    transition: all 0.15s ease-out;
    border-radius: 3px;
    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
      background-color: #ececec;
    }
  }
}

.main-pagination_active {
  background-color: #1f497d !important;
  border-color: #1f497d !important;
  color: white !important;
}

.product-main {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 60px;
}

.product__img {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 265px;
  padding: 10px;
  background-color: #fefefe;
  border: 1px solid #e4e3e3;
  border-radius: 3px;
  overflow: hidden;
  img {
    display: block;
    width: 270px;
    height: 255px;
    object-fit: contain;
    object-position: center;
  }
}

.product__description {
  padding-left: 15px;
  color: #3d3d3d;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  p {
    margin-bottom: 5px;
  }
}

.product__title {
  display: block;
  margin-bottom: 15px;
  color: #802a43;
  font-family: "Open Sans";
  font-size: 21px;
  font-weight: 400;
  line-height: 1.2;
}

.product__price {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #3d3d3d;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  text-align: left;
  span {
    display: inline-block;
    color: #3d3d3d;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 700;
    line-height: 18px;
  }
}

.product__btn {
  display: block;
  max-width: 210px;
  position: relative;
  background-color: #802a43;
  border-radius: 3px;
  padding: 14px 70px;
  text-align: center;
  color: white;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.15s ease-out;
  &:hover,
  &:active,
  &:focus {
    color: white;
    text-decoration: none;
    background-color: #972949;
  }
}