.navbar-nav {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #1f497d;
  border-radius: 3px 3px 0 0;
}

.navbar {
  margin: 0;
  padding: 0;
}

.navbar-default {
  border: none;
  background-color: #1f497d;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-default .navbar-nav>li>a {
  padding: 14px 0;
  color: white;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  transition: all 0.2s ease-out;
  &:hover,
  &:active,
  &:focus {
    color: rgba(255, 255, 255, 0.38);
    text-decoration: none;
  }
}

.dropdown-menu {
  min-width: 220px;
  padding: 0;
  border: none;
  border-radius: 0 0 3px 3px;
  box-shadow: 0 1px 1px #1f497d;
}

.dropdown-menu>li>a {
  padding: 15px 20px;
  background-color: white;
  border-bottom: 1px solid #1f497d;
  color: #111010;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  transition: all 0.2s ease-out;
  &:hover,
  &:active,
  &:focus {
    color: #f7f7f7;
    text-decoration: none;
    background-color: #1f497d;
    box-shadow: 0 1px 0 #1f497d;
  }
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: -3px;
  left: 100%;
  margin-left: 0;
  padding: 15px 30px;
  background-color: #1f497d;
  border-radius: 0 3px 3px;
  border-radius: 0 0 3px 3px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
  li {
    a {
      padding: 3px 12px;
      border: none;
      background-color: transparent;
      font-family: "Open Sans";
      font-size: 12px;
      font-weight: 300;
      line-height: 24px;
      color: #b9b9b9;
      transition: all 0.2s ease-out;
      text-transform: auto;
      &:hover,
      &:active,
      &:focus {
        color: white;
        text-decoration: none;
      }
    }
  }
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  border-radius: 0 0 3px 3px;
}

.carousel-control.left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-control.right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-caption {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  padding: 120px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-family: "Open Sans";
  font-weight: 400;
  line-height: 1.25;
  text-transform: uppercase;
  h1 {
    color: white;
    font-family: "Open Sans";
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
  height: 470px;
  object-fit: cover;
  border-radius: 3px 3px 0 0;
}

.main-sidebar {
  .dropdown-submenu>.dropdown-menu {
    top: -3px;
    left: 100%;
    margin-left: 0;
    flex-flow: row wrap;
    justify-content: flex-start;
    min-width: 385px !important;
    padding: 15px 30px;
    background-color: #1f497d;
    border-radius: 0 3px 3px;
    border-radius: 0 0 3px 3px;
    &:after {
      display: block;
      position: absolute;
      content: " ";
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
      border-width: 10px 0 10px 10px;
      border-left-color: #1f497d;
      left: -10px;
      top: 10px;
      transform: rotate(180deg);
    }
  }
  .dropdown-submenu:hover>.dropdown-menu {
    display: flex;
    li {
      a {
        display: inline-block;
        margin-right: 20px;
        padding: 3px 12px;
        border: none;
        background-color: transparent;
        font-family: "Open Sans";
        font-size: 12px;
        font-weight: 300;
        line-height: 24px;
        color: #b9b9b9;
        transition: all 0.2s ease-out;
        text-transform: auto;
        &:hover,
        &:active,
        &:focus {
          color: white;
          text-decoration: none;
        }
      }
    }
  }
  .dropdown-submenu>a:after {
    display: none;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #1f497d;
    margin-top: 5px;
    margin-right: auto;
    right: 0;
  }
  .dropdown-submenu:hover>a:after {
    border-left-color: #1f497d;
  }
  .dropdown-submenu.pull-left {
    float: none;
  }
  .dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    border-radius: 0 0 3px 3px;
  }
}