@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {
  .main-header {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
  .main-header__logo {
    max-width: auto;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
    img {
      margin: 0;
      margin-bottom: 5px;
    }
  }
  .main-header__contacts {
    max-width: auto;
    margin-bottom: 10px;
    text-align: center;
  }
  .main-header__info {
    max-width: auto;
    margin-bottom: 10px;
    text-align: center;
  }
  .main-header__call {
    max-width: auto;
    text-align: center;
  }
  .main-header__call span {
    margin-bottom: 5px;
  }
  .navbar-nav {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  .carousel-caption {
    padding: 20px;
  }
  .main-content {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .main-sidebar {
    margin-bottom: 20px;
  }
  .home-start {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
  .home-start__card {
    justify-content: center;
    align-items: center;
    text-align: center;
    img {
      margin-bottom: 5px;
    }
    span {
      margin-bottom: 5px;
    }
  }
  .main-content_p {
    padding: 0;
  }
  .home-features {
    margin-bottom: 20px;
  }
  .home-why {
    margin-bottom: 20px;
  }
  .home-popular-cards {
    justify-content: space-around;
    margin-bottom: 20px;
  }
  .main-footer {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .main-footer__nav {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
  .categories-cards {
    justify-content: space-around;
    margin-bottom: 20px;
  }
  .carousel-caption h1 {
    font-size: 24px;
  }
  .product-main {
    flex-flow: row wrap;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  .product__img {
    margin-bottom: 10px;
  }
}

@media (min-width: 979px) {
  ul.nav li.dropdown:hover>ul.dropdown-menu {
    display: block;
  }
  .dropdown-submenu:hover>.dropdown-menu {
    display: block;
  }
}